@charset "UTF-8";

body {
    background-color: rgb(242, 248, 254);
}

section.caixa {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img#favicon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}