@charset "UTF-8";
@font-face {
    font-family: nato_sans;
    src: url(../fontes/Noto_Sans/static/NotoSans-Regular.ttf);
}

/* Paleta de Cores 
#348ABF AZUL (MAIS ESCURO)
#459DBF :
#59CCD9 :
#85F2F2 AZUL (MAIS CLARO)
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: nato_sans, sans-serif;
}

body {
    background-color: rgb(242, 248, 254);
}

section.caixa {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    max-width: 600px;
}

img#favicon {
    width: 60px;
    height: 60px;
}

div#cabecalho {
    display: block;
    width: 100%;
}

div#login {
    padding-top: 15px;
    padding-bottom: 15px;
}

div#login > h1 {
    font-size: 2em;
}

div#login > p {
    margin-top: 16px;
    max-width: 500px;
}

div#login > input {
    width: 450px;
    height: 60px;
    padding: 13px 15px;
    border: 1px solid black;
    border-radius: 4px;
}

div#login > a {
    display: block;
    text-decoration: none;
    color: #459DBF;
    margin-top: 5px;
    font-size: 0.9em;
}

input#proxima {
    position: relative;
    display: block;  
    color: white;
    background-color: #459DBF;
    border: none;
    width: 90px;
    height: 45px;
    border-radius: 20px;
    box-shadow: 0px 0px black;
    float: right;
}

input#criar_conta {
    position: relative;
    display: block;  
    border: none;
    height: 45px;
    color: #459DBF;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px black;
    float: left;
}

div#botoes {
    max-width: 450px;
    display: block;
    margin-top: 20px;
}